@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

:root {
  --main-text-color: #333;
  --scd-text-color: #828282;
  --line-color: #e0e0e0;
  --bg-color: #fff;
  --link-color: #4371E8;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: var(--main-text-color);
  text-align: left;
  margin: 0 1em;
  padding: 80px 0 0;
  background-color: var(--bg-color);
  font-size: 18px;
}

h1 {
  font-size: 2em;
  position: relative;
}

/* fix the issue that the fixed page header overlaps in-page anchors */

h1 a {
  position: absolute;
  top: -80px;
}

h2 {
  font-weight: normal;
}

figure {
  margin: 0;
}

figcaption {
  font-size: 0.8em;
}

img {
  margin: 0;
  border-radius: 5px;
  width: 100%;
}

#logo {
  height: 100%;
  width: auto;
}

#nav-wrapper {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  border-bottom: 1px solid var(--line-color);
  z-index: 1;
}

nav {
  height: 50px;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  background-color: var(--bg-color);
}

nav ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  line-height: 50px;
}

nav ul li {
  margin: 0 0 0 2em;
}

#homelink:hover {
  border: none;
}

main {
  max-width: 1000px;
  margin: 0 auto;
}

#book-nav {
  width: 200px;
  height: auto;
  float: left;
  position: fixed;
  top: 64px;
}

#book-nav ul {
  list-style-type: none;
  padding: 0;
}

#book-nav ul li {
  margin: 0.8em 0;
}

a {
  color: var(--scd-text-color);
  text-decoration: none;
}

a:hover {
  border-bottom: 0.1em solid currentColor;
}

article a {
  color: var(--link-color);
  font-weight: bold;
}

article {
  width: 75%;
  float: right;
}

article ul li {
  margin: 0.5em;
}

#landingimg {
  width: 100%;
  height: 500px;
  background-image: url(https://cdn.glitch.com/bbbd9d87-0557-48fe-b253-83473a2706c8%2Fbgimg.jpg?v=1581616998520);
  background-size: cover;
  border-radius: 5px;
  text-align: center;
  padding-top: 130px;
}

#landingimg h1 {
  font-size: 5em;
  margin: 0;
}

#landingimg p {
  font-size: 1.5em;
  font-weight: bold;
  margin: 0;
}

footer {
  width: 100%;
  font-size: 0.8em;
  clear: both;
  color: var(--scd-text-color);
  text-align: center;
  padding: 1em;
}

/* for about page */

#about_main {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
}

#profile {
  width: 65%;
}

#hello {
  font-size: 4em;
  font-weight: bold;
  margin: 1em 0 0;
}

#hello a:hover {
  text-decoration: underline;
  border: none;
}

#belowhello {
  font-size: 1.5em;
  font-weight: bold;
  margin: 0 0 2em;
  color: var(--scd-text-color)
}

#about_aside {
  width: 35%;
  padding-left: 4em;
  color: var(--scd-text-color);
}

#about_aside p {
  font-size: 0.9em;
}

#headpic {
  border-radius: 50%;
  width: 70%;
  margin: 3em 0 0;
}

#about_aside a {
  color: var(--link-color);
  font-weight: bold;
}

.uppercase {
  text-transform: uppercase;
  font-weight: bold;
  margin-right: 8px;
  color: var(--main-text-color);
}

h3 {
  color: var(--scd-text-color);
  margin-top: 2em;
  text-decoration: underline;
}

#projects-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.projects {
  width: 200px;
  height: 150px;
  margin: 10px 0;
  border: 1px solid var(--line-color);
  border-radius: 5px;
  transition: box-shadow 0.5s, transform 0.5s;
}

.projects:hover {
  -webkit-box-shadow: 0px 4px 20px 0px rgba(67, 113, 232, 0.3);
  -moz-box-shadow: 0px 4px 20px 0px rgba(67, 113, 232, 0.3);
  box-shadow: 0px 4px 20px 0px rgba(67, 113, 232, 0.3);
  transform: translate(0, -1px);
}

.projects p {
  font-size: 0.8em;
  margin: 1em;
}

.project-des {
  font-weight: normal;
}
/* for resources page */

#resources_main {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#resources_main h1 {
  width: 100%;
}

.card {
  width: 300px;
  height: 350px;
  border: 1px solid var(--line-color);
  border-radius: 5px;
  margin: 1em 0;
  transition: box-shadow 0.5s, transform 0.5s;
}

.card:hover {
  -webkit-box-shadow: 0px 4px 20px 0px rgba(67, 113, 232, 0.3);
  -moz-box-shadow: 0px 4px 20px 0px rgba(67, 113, 232, 0.3);
  box-shadow: 0px 4px 20px 0px rgba(67, 113, 232, 0.3);
  transform: translate(0, -1px);
}

.cardimg {
  height: 150px;
  object-fit: cover;
  border-radius: 5px 5px 0 0;
}

.card p {
  margin: 16px;
}

.cardtitle {
  font-weight: bold;
  font-size: 1.5em;
}

.carddescription {
  font-size: 0.9em;
}

.cardlink {
  color: var(--main-text-color);
}

.cardlink:hover {
  border: none;
}

button {
  width: 100%;
  background-color: white;
  color: var(--link-color);
  border-radius: 5px;
  border: 1px solid var(--line-color);
  font-family: 'Open Sans', sans-serif;
  font-size: 0.9rem;
  cursor: pointer;
  outline: none;
}

.hide {
  width: 100%;
  display: none;
  flex-wrap: wrap;
  justify-content: space-between;
}