@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

:root {
  --main-text-color: #333;
  --scd-text-color: #828282;
  --line-color: #e0e0e0;
  --bg-color: #fff;
  --link-color: #4371E8;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: var(--main-text-color);
  text-align: left;
  margin: 0 1em;
  padding: 80px 0 0;
  background-color: var(--bg-color);
  font-size: 18px;
}

h1 {
  font-size: 2em;
  position: relative;
}

/* fix the issue that the fixed page header overlaps in-page anchors */

h1 a {
  position: absolute;
  top: -80px;
}

h2 {
  font-weight: normal;
}

figure {
  margin: 0;
}

figurecaption {
  font-size: 0.8em;
}

img {
  margin: 0;
  border-radius: 5px;
  width: 100%;
}

#logo {
  height: 100%;
  width: auto;
}

#nav-wrapper {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  border-bottom: 1px solid var(--line-color);
  z-index: 1;
}

nav {
  height: 50px;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  background-color: var(--bg-color);
}

nav ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  line-height: 50px;
}

nav ul li {
  margin: 0 0 0 2em;
}

#homelink:hover {
  border: none;
}

main {
  max-width: 1000px;
  margin: 0 auto;
}

#book-nav {
  width: 200px;
  height: auto;
  float: left;
  position: fixed;
  top: 64px;
}

#book-nav ul {
  list-style-type: none;
  padding: 0;
}

#book-nav ul li {
  margin: 0.8em 0;
}

a {
  color: var(--scd-text-color);
  text-decoration: none;
}

a:hover {
  border-bottom: 0.1em solid currentColor;
}

article a {
  color: var(--link-color);
}

article {
  width: 75%;
  float: right;
}

article ul li {
  margin: 0.5em;
}

#landingimg {
  width: 100%;
  height: 500px;
  background-image: url(https://cdn.glitch.com/bbbd9d87-0557-48fe-b253-83473a2706c8%2Fbgimg.jpg?v=1581616998520);
  background-size: cover;
  border-radius: 5px;
  text-align: center;
  padding-top: 130px;
}

#landingimg h1 {
  font-size: 5em;
  margin: 0;
}

#landingimg p {
  font-size: 1.5em;
  font-weight: bold;
  margin: 0;
}

footer {
  width: 100%;
  font-size: 0.8em;
  clear: both;
  color: var(--scd-text-color);
  text-align: center;
  padding: 1em;
}