@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

:root {
  --main-text-color: #333;
  --scd-text-color: #828282;
  --line-color: #e0e0e0;
  --bg-color: #fff;
  --link-color: #4371E8;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: var(--main-text-color);
  text-align: left;
  margin: 0 1em;
  padding: 80px 0 0;
  background-color: var(--bg-color);
  font-size: 18px;
}

h1 {
  font-size: 2em;
  position: relative;
}

h2 {
  font-weight: normal;
}

figure {
  margin: 0;
}

figcaption {
  font-size: 0.8em;
}

img {
  margin: 0;
  border-radius: 5px;
  width: 100%;
}

#headpic {
  border-radius: 50%;
  width: 70%;
  margin: 3em 0 0;
}

#logo {
  height: 100%;
  width: auto;
}

#nav-wrapper {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  border-bottom: 1px solid var(--line-color);
  z-index: 1;
}

nav {
  height: 50px;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  background-color: var(--bg-color);
}

nav ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  line-height: 50px;
}

nav ul li {
  margin: 0 0 0 2em;
}

#homelink:hover {
  border: none;
}

main {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
}

a {
  color: var(--scd-text-color);
  text-decoration: none;
}

a:hover {
  border-bottom: 0.1em solid currentColor;
}

article a {
  color: var(--link-color);
}

article {
  width: 65%;
}

article ul li {
  margin: 0.5em;
}

#hello {
  font-size: 4em;
  font-weight: bold;
  margin: 1em 0 0;
}

#belowhello {
  font-size: 1.5em;
  font-weight: bold;
  margin: 0 0 2em;
  color: var(--scd-text-color)
}

aside {
  width: 35%;
  padding-left: 4em;
  color: var(--scd-text-color);
}

aside p {
  font-size: 0.9em;
}

aside a {
  color: var(--link-color);
}

.uppercase {
  text-transform: uppercase;
  font-weight: bold;
  margin-right: 8px;
  color: var(--main-text-color);
}

h3 {
  color: var(--scd-text-color);
  margin-top: 2em;
  text-decoration: underline;
}

footer {
  width: 100%;
  font-size: 0.8em;
  clear: both;
  color: var(--scd-text-color);
  text-align: center;
  padding: 1em;
}